<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tobawoo.nh2016">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.UIMainActivity"
            android:label="@string/title_activity_uimain"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.NongaBangyokMainActivity"
            android:label="@string/title_activity_nonga_bangyok_main"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.NongaMainActivity"
            android:label="@string/title_activity_nonga_main"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.GaechejeongboMainActivity"
            android:label="@string/title_activity_gaechejeongbo_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.PopupActivity"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.TestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.TableMainActivity"
            android:label="@string/title_activity_table_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.NoticeMainActivity"
            android:label="@string/title_listdetailactivity_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ListDetailActivityDetailActivity"
            android:label="@string/title_listdetailactivity_detail"
            android:parentActivityName=".ui.NoticeMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tobawoo.nh2016.ui.NoticeMainActivity" />
        </activity>
        <activity
            android:name=".ui.GaechejeongboActivity"
            android:label="@string/title_activity_gaechejeongbo"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.CalendarMainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.NongaSearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.BangyeokSearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.GaecheSearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.GyobaejeongboSearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.BunmanjeongboSearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.ChoeumpaJeongboSearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.ChulhajeongboSearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".ui.popup.Example1Activity" />
        <activity android:name=".ui.popup.Example2Activity" />
        <activity
            android:name=".ui.summary.NongaSummaryActivity"
            android:theme="@style/AppTheme.Dialog"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.summary.GyobaeJeongboSummaryActivity"
            android:theme="@style/AppTheme.Dialog"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.summary.BunmanJeongboSummaryActivity"
            android:theme="@style/AppTheme.Dialog"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.summary.ChulhaJeongboSummaryActivity"
            android:theme="@style/AppTheme.Dialog"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.GasangGyobaePlanMainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 자세히 보기 -->
        <activity
            android:name=".ui.NongaDetailActivity"
            android:theme="@style/Theme.AppCompat.Dialog.MinWidth"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.GaecheDetailActivity"
            android:theme="@style/Theme.AppCompat.Dialog.MinWidth"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.GaecheDetailTabAllActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.NoticeItemListActivity"
            android:label="@string/title_noticeitem_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>